### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [114]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [115]:
#get the total number of unique players and store that in a variable

unique_players_df = purchase_data.groupby('SN')['Gender'].nunique()
total_players = len(unique_players_df)
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [116]:
#use the nunique function to get a count of the number of distinct items in the file
unique_items_count = purchase_data['Item ID'].nunique()
unique_items_count

183

In [117]:
#use the mean function 
average_price = round(purchase_data['Price'].mean(), 2)
average_price

3.05

In [118]:
#get the total number of purchases
total_purchases = purchase_data['Purchase ID'].count()
total_purchases

780

In [119]:
#store the total revenue
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [120]:
#put the calculations obtained above into a summary dataframe
#first create a "placeholder" index because a dataframe needs both rows and columns.  Since our summary dataframe doesn't
#really have common row data, we need to create one with an index.
index = [0]

#now create the dataframe using the 0 index
summary_calcs_df = pd.DataFrame({'Total Players': total_players, 'Number of Unique Items': unique_items_count, 'Average Price': average_price, 
                                'Number of Purchases': total_purchases, 'Total Revenue': total_revenue}, index = index)

In [121]:
#format the average price and total revenue columns with dollar signs and two decimal places
summary_calcs_df['Average Price'] = summary_calcs_df['Average Price'].astype(float).map("${:,.2f}".format)
summary_calcs_df['Total Revenue'] = summary_calcs_df['Total Revenue'].astype(float).map("${:,.2f}".format)
summary_calcs_df

,Total Players,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [122]:
#group the dataframe on gender

grouped_gender_df = purchase_data.groupby(['Gender'])


#get the total females, males and other
total_females = grouped_gender_df.nunique()["SN"]['Female']
total_males = grouped_gender_df.nunique()["SN"]['Male']
total_other = grouped_gender_df.nunique()["SN"]['Other / Non-Disclosed']
total_players = total_females + total_males + total_other

#Calculate the percentages for each gender
male_percent = round((total_males/total_players) * 100, 2)
female_percent = round((total_females/total_players) * 100, 2)
other_percent = round((total_other/total_players) * 100, 2)

#print(f'Gender Demographics:  Males {male_percent}%, Females {female_percent}%, Other/Non-Disclosed {other_percent}%')

#Display calculations by putting them into a new dataframe and clean up the percentage display

demo_df = pd.DataFrame({'Total Count' : grouped_gender_df.nunique()['SN'],
                        'Percentage of Players' : grouped_gender_df.nunique()['SN'] / total_players})

demo_df['Percentage of Players'] = (demo_df['Percentage of Players'])*100

demo_df['Percentage of Players'] = demo_df['Percentage of Players'].astype(float).map("{:,.2f}%".format)

demo_df = demo_df.sort_values('Total Count', ascending=False)

print(demo_df)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [123]:
#Determine the purchase count, avg purchase price, total purchase value and average total per person

#get average per person by grouping by both gender and the SN (gender first and then SN).  Once you have that, do a sum so that
#you have the total amount spent per person (SN), still grouped by gender.  Apply another groupby and specify
#level=0, so it knows to group by Gender first.  I then apply a mean operation and get the average spent per person
#


per_person_df = purchase_data.groupby(['Gender', 'SN']).sum().groupby(level=0).mean()



purch_sum_df = pd.DataFrame({'Purchase Count': grouped_gender_df.count()['Purchase ID'],
                        'Avg Purchase Price': grouped_gender_df.mean()['Price'], 
                         'Total Purchase Value': grouped_gender_df.sum()['Price'], 
                        'Avg Total Purchase Per Person' : per_person_df['Price']})



#Format the amount columns as currency

purch_sum_df['Avg Purchase Price'] = purch_sum_df['Avg Purchase Price'].astype(float).map("${:,.2f}".format)
purch_sum_df['Total Purchase Value'] = purch_sum_df['Total Purchase Value'].astype(float).map("${:,.2f}".format)
purch_sum_df['Avg Total Purchase Per Person'] = purch_sum_df['Avg Total Purchase Per Person'].astype(float).map("${:,.2f}".format)

purch_sum_df

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [124]:
# Create the bins in which Data will be held
# Bins are 0, 60, 70, 80, 90, 100
bins = [0, 9, 14, 19, 24, 29, 34, 39, 120]

# Create the names for the four bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [125]:
#Cut the purchase data dataframe by age

#First create a new dataframe with just the player screen name and their age

age_demo_df = pd.DataFrame({'SN' : purchase_data['SN'], 'Age': purchase_data['Age']})

#Drop duplicate values from this dataframe

age_demo_df = age_demo_df.drop_duplicates()

#Cut the data by age and add the age group series as a column

age_demo_df["Age Group"] = pd.cut(age_demo_df['Age'], bins, labels=group_names)

In [126]:
#Create a groupby object

age_group = age_demo_df.groupby("Age Group")

age_percent = (age_group['SN'].count()/total_players)*100

# Find how many players fall into each bin
age_summary_df = pd.DataFrame({'Total Count' : age_group["SN"].count()})

age_summary_df['Percentage of Players'] = (age_group['SN'].count()/total_players)*100
age_summary_df['Percentage of Players'] = age_summary_df['Percentage of Players'].astype(float).map("{:,.2f}%".format)

age_summary_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame