### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_file)

## Player Count

* Display the total number of players

In [18]:
#get the total number of players and store that in a variable
total_players = purchase_data['SN'].count()
total_players

780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#use the nunique function to get a count of the number of distinct items in the file
unique_items_count = purchase_data['Item ID'].nunique()
unique_items_count

183

In [21]:
#use the mean function 
average_price = round(purchase_data['Price'].mean(), 2)
average_price

3.05

In [22]:
#get the total number of purchases
total_purchases = purchase_data['Purchase ID'].count()
total_purchases

780

In [23]:
#store the total revenue
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [24]:
#put the calculations obtained above into a summary dataframe
#first create a "placeholder" index because a dataframe needs both rows and columns.  Since our summary dataframe doesn't
#really have common row data, we need to create one with an index.
index = [0]

#now create the dataframe using the 0 index
summary_calcs_df = pd.DataFrame({'Total Players': total_players, 'Number of Unique Items': unique_items_count, 'Average Price': average_price, 
                                'Number of Purchases': total_purchases, 'Total Revenue': total_revenue}, index = index)

In [25]:
#format the average price and total revenue columns with dollar signs and two decimal places
summary_calcs_df['Average Price'] = summary_calcs_df['Average Price'].astype(float).map("${:,.2f}".format)
summary_calcs_df['Total Revenue'] = summary_calcs_df['Total Revenue'].astype(float).map("${:,.2f}".format)
summary_calcs_df

,Total Players,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,780,183,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame